{% extends "_base.twig" %}

{% block content %}
<title>Login</title>

<div class="login container">
<h1>VOYAtter</h1>
<h2>ボヤキをソウゾウせよ</h2>

<div class="pure-u-1-1">
<form action="/login" method="post" class="pure-form pure-form-aligned">
{% if isError %}
<p>※ユーザー名もしくはパスワードが間違っています。</p>
{% endif %}
<fieldset>
<div class="pure-control-group">
<label for="username">ユーザ名 (ゲストの場合は "guest")</label>
<input id="username" type="text" name="username" value='{{username}}'>
</div>

<div class="pure-control-group">
<label for="password">パスワード (ゲストの場合は "password")</label>
<input id="password" type="password" name="password">
</div>

<button class="pure-button" type="submit">ログイン</button>

<p><a href="/enquiry-form.php?msg={{ "【パスワード忘れのお問い合わせ】\n\n※以下に詳しい内容をご記入ください" | url_encode }}">パスワードを忘れた方はこちらからお問い合わせください</a></p>

</fieldset>
</div>
</div>
{% endblock %}
